1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.

In [ ]:
def sum_of_even_numbers(numbers):
    return sum(num for num in numbers if num % 2 == 0)

# Example usage
print(sum_of_even_numbers([1, 2, 3, 4, 5, 6]))

12

2.Create a Python function that accepts a string and returns the reverse of that string.

In [ ]:
def reverse_string(s):
    return s[::-1]

# Example usage
print(reverse_string("Hello, World!"))  # Output: "!dlroW ,olleH"

!dlroW ,olleH

 3.Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [ ]:
def square_numbers(numbers):
    return [num ** 2 for num in numbers]

# Example usage
print(square_numbers([1, 2, 3, 4, 5]))  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

Write a Python function that checks if a given number is prime or not from 1 to 200

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Check for prime numbers from 1 to 200
primes = [num for num in range(1, 201) if is_prime(num)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [ ]:
class FibonacciIterator:
    def __init__(self, n):
        self.n = n
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count < self.n:
            result = self.a
            self.a, self.b = self.b, self.a + self.b
            self.count += 1
            return result
        else:
            raise StopIteration

# Example usage
fibonacci = FibonacciIterator(10)
print(list(fibonacci))  # Output: First 10 Fibonacci numbers

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

6. Write a generator function in Python that yields the powers of 2 up to a given exponent

In [ ]:
def powers_of_two(exponent):
    for i in range(exponent + 1):
        yield 2 ** i

# Example usage
print(list(powers_of_two(5)))  # Output: [1, 2, 4, 8, 16, 32]

[1, 2, 4, 8, 16, 32]

 Implement a generator function that reads a file line by line and yields each line as a string.

In [ ]:
def read_file_lines(file_path):
    with open(file_path, 'r') as file:
        for line in file:
            yield line.strip()

# Example usage (assuming 'example.txt' exists)
# for line in read_file_lines('example.txt'):
#     print(line)

 Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [ ]:

data = [(1, 'one'), (3, 'three'), (2, 'two')]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)  # Output: [(1, 'one'), (3, 'three'), (2, 'two')]

[(1, 'one'), (3, 'three'), (2, 'two')]

Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit

In [ ]:
def celsius_to_fahrenheit(celsius):
    return list(map(lambda x: (x * 9/5) + 32, celsius))

# Example usage
temperatures_celsius = [0, 20, 37, 100]
print(celsius_to_fahrenheit(temperatures_celsius))  # Output: [32.0, 68.0, 98.6, 212.0]

[32.0, 68.0, 98.6, 212.0]

 Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [ ]:
def remove_vowels(s):
    vowels = "aeiouAEIOU"
    return ''.join(filter(lambda x: x not in vowels, s))

# Example usage
print(remove_vowels("Hello, World!"))  # Output: "Hll, Wrld!"

In [ ]:
# List of orders
orders = [
    [34587, "Book titled and Mark Lutz", 4, 40.95],
    [98762, "Programming Python Mark Lutz", 5, 56.80],
    [77226, "Headfirst Python Paul Barry", 3, 32.95],
    [88112, "Einfuhrung in Python3, Bernd", 3, 24.99]
]

# Function to calculate total price with condition
def calculate_order_totals(orders):
    return list(map(lambda order: (
        order[0],
        (order[2] * order[3]) + (10 if (order[2] * order[3]) < 100 else 0)
    ), orders))

# Get the result
order_totals = calculate_order_totals(orders)

# Print the result
print(order_totals)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]